*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}


/* Navbar Starts */
.logo{
    width: 12%;
    cursor: pointer;
}

.container{
    max-width: 1128px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.home-btn{
   padding: 6px;
}
.join-btn,.sign-btn{
    text-decoration: none;
}
.sign-btn{
    color: #0a66c2;
    padding: 10px 24px;
    border-radius: 24px;
    border: 1px solid #0a66c2;
    font-weight: bold;
    font-size: 16px;
}
.join-btn{
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    padding: 11px 12px;
}
.join-btn:hover{
    background-color: rgba(0, 0, 0, 0.103);
    color: #111;
    border-radius: 4px;
    transition-duration: .3s;
}
.sign-btn:hover{
    background-color: #0a66c225;
    border: 2px solid #0a66c2;
}
/* Navbar ends */

/* Home starts*/
.home{
    text-align: left;
    display: flex;
}
.home-content{
    width: fit-content;
}
.main-text{
    color: #8f5849;
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.home-img{
    width: 50%;
    margin-top: 3rem;
    padding: 10px;
    float: right;
}
.list{
    text-decoration: none;
    color: #111;
    font-size: 20px;
    display: flex;
    width: 85%;
    padding: 1.3rem;
    border: 1px solid rgba(156, 156, 156, 0.4);
    border-radius: 8px;
    justify-content: space-between;
    margin-top: 1rem;
}
.list h5{
    font-weight: 400;
}
.list:hover{
    box-shadow: 2px 3px 5px rgba(95, 95, 95, 0.281);
}
/* Home Ends */

/* Suggest Starts */
#suggest{
    height: 487px;
    width: 100%;
    background-color: #FAF9F7;
}
.suggest-wrapper{
    display: flex;
    height: 100%;
    /* align-items: center; */
}
.sug-text{
    flex: 1;
    font-size: 48px;
    color: rgba(0,0,0, 0.9);
    line-height: 60px;
    margin-top: 6rem;
}
.sug-text h4{
    font-weight: 200;
}
.tags-area{
    flex: 2;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0, 0.6);
}
.tags-area h4{
    margin-top: 6rem;
    margin-left: 3rem;
}
.tags-wrapper{
    width: 100%;
    height: 65%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tags{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.08);
    padding: 12px 24px;
    border-radius: 24px;
    text-decoration: none;
}
.tags:hover{
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.274);
}
.tags-show{
    padding: 12px 24px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);;
}
.tags-show:hover{
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.075);
}
/* Suggest Ends */

/* Post job section start */
#post-cta{
    width: 100%;
    height: 35vh;
    background-color: #f1ece5;
    display: flex;
}
.post-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.post-cta-text{
    font-size: 40px;
    color: #B24020;
    line-height: 50px;
    font-weight: 400;
}
.post-a-jobs{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    margin-left: 5rem;
    padding: 10px 24px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 28px;
}
.post-a-jobs:hover{
    background-color: rgba(0, 0, 0, 0.075);
    text-decoration: underline;
}
/* Post job section ends */
/* Features Starts */
#features{
    width: 100%;
    height: 100vh;
    background-color: #FAF9F7;
    display: flex;

}
.features-wrapper{
    display: flex;
    padding: 20px 0 ;
}
.features-img{
    width: 28rem;
}
.f-text{
    color: #2977c9;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
    max-width: 95%;
}
.f-desc{
    font-size: 32px;
    line-height: 40px;
    color: rgba(0,0,0, 0.9);
    font-weight: 200;
    max-width: 93%;
    margin-top: 1rem;
}
.features-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f-ctas{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.pre-cta{
    font-size: 20px;
    color: rgba(156, 156, 156, 0.4);
    text-decoration: none;
}
.next-cta{
    font-size: 20px;
    color: rgba(0,0,0, 0.894);
    text-decoration: none;
    padding: 2px 4px;
}
.next-cta:hover{
    background-color: rgba(0, 0, 0, 0.205);
}
/* Features Ends */

/* Benifits Satrts */
#benifits{
    width: 100%;
    height: 100vh;
}
.benifits-wrapper{
    display: flex;
    height: 100%;
    align-items: center;

}
.connect-section{
  padding: 20px 0px;
}
.connect-section img{
    width: 20rem;
}
.connect-section h2{
    font-weight: 200;
    font-size: 48px;
    color: rgba(0,0,0, 0.9);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.connect-cta{
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.827);
    font-weight: 600;
    border: 1px solid rgba(156, 156, 156, 0.4);
    padding: 14px 24px;
    border-radius: 24px;
}
.connect-cta:hover{
    background-color: rgba(156, 156, 156, 0.4);
    text-decoration: underline;
}
.learn-section{
    padding-left: 5rem;
}
.learn-section img{
    width: 20rem;
}
.learn-section{
    margin-left: 3rem;
}
.learn-section img{
    width: 20rem;
}
.learn-button{
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.827);
    font-weight: 400;
    border: 1px solid rgba(156, 156, 156, 0.4);
    padding: 14px 24px;
}
.learn-button:hover{
    background-color: rgba(156, 156, 156, 0.4);
}
/* Benifits Ends */
/* Testimonial starts */
#testimonial{
    width: 100%;
    height: 100vh;
}
.test-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.vdo-area,.vdo-text-area{
    flex: 1;
}
.vdo-text-area{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.vdo-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ifvdo{
    border-radius: 5px;
}
.vdo-text-area h2{
    font-size: 40px;
    color: #b24020;
    font-weight: 400;
}
.vdo-text-area h6{
    font-size: 40px;
    line-height: 50px;
    font-weight: 200;
}
.test-content::after{
    content: '';
    width: 70vw;
    height: 720px;
    left: 30%;
    position: absolute;
    z-index: -1;
    background-color: #F4FAFF;
    margin-top: 2.5rem;
}
/* Testimonial ends */
/* cta section starts */
#cta-area{
    width: 100%;
    height: 100vh;
    background-image: url(images/cta-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cta-container h2{
    font-size: 56px;
    line-height: 70px;
    color: rgba(0,0,0, 0.9);
    font-weight: 200;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.get-start-cta{
    padding: 10px 20px;
    line-height: 28px;
    background-color: #0B65C2;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 24px;
}
/* cta section ends */
/* Footer starts */
#footer{
    width: 100%;
    height: 424px;
    background-color: #FAF9F7;
}
.f-logo{
    width: 84px;
}
.alinks h6{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0, 0.9);
    margin-bottom: 7px;
}
.alinks a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #666666;
    margin-top: 8px;
}
.alinks a:hover{
    color: #0a66c2;
    text-decoration: underline;
}
.links-wrapper{
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    justify-content: flex-start;
}
.alinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 4rem;
}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footlogo{
    width: 56px;
}
.copyright{
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}
.copy-links{
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    font-weight: 400;
}
/* Footer ends */